[submodule "modules/imgui"]
	path = modules/imgui
	url = https://github.com/knoxfighter/imgui.git
[submodule "modules/extension"]
	path = modules/extension
	url = https://github.com/knoxfighter/arcdps-extension.git
[submodule "modules/unofficial_extras"]
	path = modules/unofficial_extras
	url = https://github.com/Krappa322/arcdps_unofficial_extras_releases.git
