[submodule "ArcDPS Boon Table/imgui"]
	path = ArcDPS Boon Table/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ArcDPS Boon Table/extension"]
	path = ArcDPS Boon Table/extension
	url = https://github.com/knoxfighter/arcdps-extension.git
[submodule "ArcDPS Boon Table/modernIni"]
	path = ArcDPS Boon Table/modernIni
	url = https://github.com/knoxfighter/modernIni.git
[submodule "ArcDPS Boon Table/unofficial_extras"]
	path = ArcDPS Boon Table/unofficial_extras
	url = https://github.com/Krappa322/arcdps_unofficial_extras_releases.git
