<?xml version="1.0" encoding="utf-8"?>
<Project>
   <PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Debug|x64'">
		<OutDir>D:\Guild Wars 2\bin64\</OutDir>
	</PropertyGroup>
	<PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Release|x64'">
		<OutDir>D:\Guild Wars 2\bin64\</OutDir>
	</PropertyGroup>
</Project>
